<a
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="chosenClassActiveLink"
  class="list-group-item clearfix" 
  >
    <div class="d-inline-block float-sm-left">
        <h4 class="list-group-item-heading">{{recipe.name}}</h4>
        <p class="list-group-item-text">{{recipe.description}}</p>
    </div>
    <div class="d-inline-block float-sm-right" style="float: right;">
        <img 
          [src]="recipe.imagePath" 
          alt="{{recipe.name}}" 
          class="img-responsive" 
          style="max-height: 50px;"
          >
    </div>
</a>